.DS_Store
.AppleDouble
.Trashes

*.o
*.a
*.exe
*.pyc

*.log
*.bak
*.swp

*.tmp
*.temp

node_modules
.cache
.npmignore
__pycache__

.download
.upload

test.py
test.js
private_settings
myenv
*test*
*_old

.idea/
dist