# Shell Interaction Optimization
pyreadline3
# Async Ensurence
# nest_asyncio
# Network
httpx
aiohttp
websockets
tornado
# Model Client
openai
erniebot
zhipuai
tencentcloud-sdk-python
qianfan
# Format
PyYAML
json5
# Web
duckduckgo_search
beautifulsoup4
requests