# Shell Interaction Optimization
pyreadline3
# Async Ensurence
# nest_asyncio
# Network
httpx
# Model Client
openai
litellm
# Format
PyYAML
json5
# Web
duckduckgo_search
beautifulsoup4
requests
# MCP
mcp
fastapi